<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training Vue.js</title>
</head>
<body>

    <div id="filters">

        <h3 v-if="show">Filipe Ferreira</h3>

        <h3 key="available" v-if="tickets >= 50">tickets disponible</h3>
        <h3 v-else-if="tickets >= 1">Almost indisponible tickets</h3>
        <h3 key="empty" v-else>tickets indisponible</h3>

    </div>

    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue2-filters/dist/vue2-filters.min.js"></script>
    <script>
        let app = new Vue({
            el: '#filters',
            data: {
                show: true,
                tickets: 100
            }
        })

    </script>

</body>
</html>